body {
	background-color: #FF0000;
	color: #000000;
	padding:20px;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}


h1 {
	color: #FFFF00;
	font-weight: bold;
	border-bottom: 3px solid #FFA500;
}

h2 {
	color: #FFFFFF;
	font-weight: bold;
	margin-top: 20px;
}

td {
	text-align: right;
}

textarea {
	width: 100%;
	height:600px;
	background-color: #FFFF00;
	color: #000000;
	font-family: Courier New, Courier;
	font-size: 18px;
	border-left: 22px solid #FFA500;
	border-radius: 20px; 
	padding-left: 10px;
}

input[type="text"] {
	width: 100%;
	background-color: #FFFF00;
	color: #000000;
	border: none;
	border-left: 22px solid #FFA500;
	border-radius: 20px; 
	font-size: 18px;
	font-family: Courier New, Courier;
	padding-left: 10px;
}

button {
	background-color: #FFFF00;
	color: #000000;
	width: 160px;
	height: 90px;
	border: none;
	border-left: 22px solid #FFA500;
	/* border-right: 22px solid #FFD700; */
	border-radius: 20px; 
	box-shadow: 0px 0px 20px #000000;
	margin-right: 20px;
	cursor: pointer;
	font-weight: bold;
	font-family: Tahoma;
}

button:hover {
	box-shadow: 0px 0px 20px #FFA500;
}
